<div id="[entity]" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->
    <!-- CENTER -->
    <div class="center">
  
      <!-- HEADER -->
      <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
        fxLayoutAlign.gt-sm="space-between center">
  
        <!-- APP TITLE -->
        <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
          <mat-icon class="logo-icon s-32 mr-16">
            developer_board
          </mat-icon>
          <span class="logo-text h1">
            [Entity] List
          </span>
        </div>
        <!-- / APP TITLE -->
  
        <!-- SEARCH -->
        <!-- SEARCH -->
        <div class="search-wrapper mx-32 mx-md-0">
          <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
            <mat-icon>search</mat-icon>
            <input (keyup)="doFilter($event.target.value)" placeholder="Search for a [Entity ]">
          </div>
        </div>
        <!-- / SEARCH -->
  
        <!-- ADD BUTTON -->
        <button mat-raised-button (click)="new[Entity]()" class="add-product-button fuse-white mt-24 mt-md-0">
          <span>ADD NEW [ENTITY ]</span>
        </button>
        <!-- / ADD BUTTON -->
  
      </div>
      <!-- / HEADER -->
  
      <!-- CONTENT -->
      <div class="content-card">
  
        <mat-table class="[entity]-table" [dataSource]='dataSource' matSort fusePerfectScrollbar>
            <!-- Image Column -->
            <ng-container matColumnDef="image">
              <mat-header-cell *matHeaderCellDef>Image</mat-header-cell>
              <mat-cell *matCellDef="let [Entity]">
                <img class="[entity-d]-image" *ngIf="[Entity].imagePath" [src]="getImagePath([Entity].imagePath)">
              </mat-cell>
            </ng-container>
            <!--Name Column-->
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
            <mat-cell *matCellDef="let [Entity]">
              <strong class="text-truncate">{{[Entity].name}}</strong>
            </mat-cell>
          </ng-container>
            <!--Created On Column-->
            <ng-container matColumnDef="createddate">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Created Date</mat-header-cell>
              <mat-cell *matCellDef="let [Entity]">
                <p class="text-truncate">{{[Entity].createdOn}}</p>
              </mat-cell>
            </ng-container>
               <!--Updated On Column-->
               <ng-container matColumnDef="updateddate">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Update Date</mat-header-cell>
                <mat-cell *matCellDef="let [Entity]">
                  <p class="text-truncate">{{[Entity].updatedOn}}</p>
                </mat-cell>
              </ng-container>
          <!-- Active Column -->
          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Active</mat-header-cell>
            <mat-cell *matCellDef="let [Entity]" fxHide fxShow.gt-xs>
              <mat-icon *ngIf="[Entity].isActive" class="active-icon green-600 s-16">check</mat-icon>
              <mat-icon *ngIf="![Entity].isActive" class="active-icon red-500 s-16">close</mat-icon>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
            <mat-cell *matCellDef="let [Entity]" class="button-row">
              <!-- <button mat-raised-button (click)="edit([Entity])">Edit</button>
                    <button mat-raised-button (click)="delete([Entity])" color="warn">Delete</button> -->
              <button mat-icon-button aria-label="Edit [Entity] details">
                <mat-icon (click)="edit([Entity])">edit</mat-icon>
              </button>
              <button mat-icon-button (click)=openDeleteDialog([Entity]) aria-label="Delete [Entity] - Deactivate">
                <mat-icon  color="warn">delete</mat-icon>
              </button>
            </mat-cell>
          </ng-container>
  
          <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
          <mat-row 
          *matRowDef="let [Entity];columns:displayedColumns;"
          class="[Entity]"
          matRipple
          
          ></mat-row>
        </mat-table>
        <mat-paginator #paginator [pageSize]="20" [pageSizeOptions]="[5,10,20,50,100]">
        </mat-paginator>
  
      </div>
      <!-- / CONTENT -->
  
    </div>
  </div>
