<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <add key="defaultConnection" value="sqlCon"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <connectionStrings>
    <add name="sqlCon" connectionString="Data Source=.;Initial Catalog=TyreX_JJ;Trusted_Connection=true;" providerName="System.Data.SqlClient"/>
    <add name="mySqlCon" connectionString="Server=localhost;Port=3306;Database=dalc4net_db;Uid=root;Pwd=P@ssw0rd;allow user variables=true" providerName="MySql.Data.MySqlClient"/>
    <add name="oracleCon" connectionString="Server=localhost;Port=3306;Database=dalc4net_db;Uid=root;Pwd=P@ssw0rd;allow user variables=true" providerName="MySql.Data.MySqlClient"/>
    <add name="accessCon" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=E:\Program Files\AccountPlus\Database\AccountPlus.mdb;Jet OLEDB:Database Password=admin;" providerName="System.Data.OleDb"/>
  </connectionStrings>
</configuration>
